@import "~swiper/swiper-bundle.min.css";
.calendar {
  max-width: 950px;
  height: auto;
  margin: 30px auto 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 20px;
  box-shadow: rgba(83, 83, 83, 0.12) 0px 2px 4px 0px, rgba(160, 160, 160, 0.32) 0px 2px 16px 0px;
  gap: 50px;

  &-box {
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden;
    align-items: center;
  }

 

  &-boxinner {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 10;
    transition: all 0.4s;
    gap: 20px;
  }

  &-icons {
    min-width: 38px;
    min-height: 38px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(197, 8, 8, 0.856);
    }
  }

//myArrows
  .right {

    img {
      position: relative;
      left: 4%;
    }
  }
  
  .left {
  
    img {
      position: relative;
      right: 4%;
    }
  }
}


.lock {
  width: 35px;
  height: 40px;
  background-image: url('../../../assets/img/block.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: none;
  z-index: 1;
}

.card-small {
  width: 240px;
  padding: 0;
  background: none;
  box-shadow: none;
  justify-content: center;
  gap: 20px;

  .calendar-box {
    width: auto;
  }

  .calendar-boxinner {
    width: auto;
    display: flex;
    justify-content: center;
  }
}

.rotateItemToRight {
  transition: all 0.6s;
  transform: rotate3d(1, 1, -1, 360deg);
}

.rotateItemToLeft {
  transition: all 0.6s;
  transform: rotate3d(1, 1, 1, 360deg);
}